

#logo {
	vertical-align:middle;
    padding: 0;
    margin-left: 0px;
    margin-top: 0px;
    width: 150px;
    height: 25%;
}
.navbar-brand span {
	font-size:4rem;
	line-height:1.2;
	font-weight: 500;
	display:inline-block;
	vertical-align:middle;
	padding:0 0 0 15px;
}


.align{
    text-align: center;
}